<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elliott Lanes</title>
  </head>
  <body>

    <h1>Elliott Lanes</h1>
    <h2>The Best Bowling Alley for Sycophantic Weirdos!</h2>
    <p>1601 Pennsylvania Ave. Washington, DC</p>
  </body>
</html>
